<div class="hero-unit">
	<h1><span class="light">Get cooking</span> faster.</h1>
</div>
<div class="hero">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span5 offset1">
				<img class="shadow" src="<%= image_path("howitworks-search.png") %>" />
			</div><!--end span-->
			<div class="span5">
				<h3>Who has time to cook?</h3>
				<p>We want to cook more, but who has time to search a million recipe sites, put all of the ingredients on a shopping list, and go back to find the recipes again when it's time to cook? Take out sounds good. But with Weeqly, you can quickly find the recipes you like, pull them into a weekly menu and generate your shopping list for the whole week, all at once. Go to the store, come back and your recipes are waiting for you in your weekly menu.</p>
				<p>So let's get cooking!</p>
			</div><!--end span-->
		</div><!--end row-->
	</div><!--end container -->
</div><!--end hero "who has time"-->

<div class="hero alt">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span5 offset1">
				<h3>Find Recipes Fast</h3>
				<p>Feel like pasta? Need a vegan option for a guest? How about a perfect dessert for the Holidays? No problem! Powered by Yummly<sup>TM</sup>, search recipes from all over the web in one place. Find exactly what you like by flavor, occasion, cuisine, diet, nutrition and more.</p>
			</div>
			<div class="span5">
				<div class="steps circle one">1</div>
			</div>
		</div><!--end row "find recipes"-->
	</div><!--end container-->
</div><!--end hero-->

<div class="hero">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span5 offset1">
				<div class="steps circle two">2</div>
			</div>
			<div class="span5">
				<h3>Plan Your Weekly Menu</h3>
				<p>Grab the recipes you like and add them to your personal weekly menu. They'll be waiting for you when you're ready to get cooking.</p>
			</div>	
		</div><!--end row "plan your menu"-->
	</div><!--end container-->
</div><!--end hero-->

<div class="hero alt">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span5 offset1">
				<h3>All recipes, one shopping list, one click</h3>
				<p>Create a shopping list for all of your recipes in one click. Delete the items you already have in the pantry, then bring it with you to the store on your phone or tablet.</p> 
				<p>Psst...you can even email or text it to your significant other, so you don't have to put on pants.</p>
			</div>
			<div class="span5">
				<div class="steps circle three">3</div>
			</div>	
		</div><!--end row "shopping list"-->
	</div><!--end container-->
</div><!--end hero-->