<%= render "main/hero" %>
<div class="container-fluid">
	<div class="row-fluid">
		<div id="search" class="span12">
			<div id="filters" class="well well-small">
			<form class="form-inline">
				<div>
					<input id="text-search" type="text" class="span6" placeholder="Text search">
					<button id="text-search-submit" class="btn btn-primary">Search</button>
				</div>
			</form>
			<form id="search-filters" class="form-inline">
				<fieldset>
					<label class="control-label" for="cuisine">Cuisine</label>
					<select id="cuisine">
						<option>Filter by Cuisine</option>
						<option value="American">American</option>
						<option value="Italian">Italian</option>
						<option value="Asian">Asian</option>
						<option value="Mexican">Mexican</option>
						<option vlaue="Southern & Soul Food">Southern & Soul Food</option>
						<option vlaue="French">French</option>
						<option vlaue="Southwestern">Southwestern</option>
						<option vlaue="Barbecue">Barbecue</option>
						<option vlaue="Indian">Indian</option>
						<option vlaue="Chinese">Chinese</option>
						<option vlaue="Cajun & Creole">Cajun & Creole</option>
						<option vlaue="English">English</option>
						<option vlaue="Mediterranean">Mediterranean</option>
						<option vlaue="Greek">Greek</option>
						<option vlaue="Spanish">Spanish</option>
						<option vlaue="German">German</option>
						<option vlaue="Thai">Thai</option>
						<option vlaue="Moroccan">Moroccan</option>
						<option vlaue="Irish">Irish</option>
						<option vlaue="Japanese">Japanese</option>
						<option vlaue="Cuban">Cuban</option>
						<option vlaue="Hawaiin">Hawaiin</option>
						<option vlaue="Swedish">Swedish</option>
						<option vlaue="Hungarian">Hungarian</option>
						<option vlaue="Portugese">Portugese</option>
					</select>
					<label class="control-label" for="course">Course</label>
					<select id="course">
						<option>Filter by Course</option>
						<option vlaue="Main Dishes">Main Dishes</option>
						<option vlaue="Desserts">Desserts</option>
						<option vlaue="Side Dishes">Side Dishes</option>
						<option vlaue="Lunch and Snacks">Lunch and Snacks</option>
						<option vlaue="Appetizers">Appetizers</option>
						<option vlaue="Salads">Salads</option>
						<option vlaue="Breads">Breads</option>
						<option vlaue="Breakfast and Brunch">Breakfast and Brunch</option>
						<option vlaue="Soups">Soups</option>
						<option vlaue="Beverages">Beverages</option>
						<option vlaue="Condiments and Sauces">Condiments and Sauces</option>
						<option vlaue="Cocktails">Cocktails</option>
					</select>
					<a id="apply-filters" class="btn btn-primary" href="#">Apply filters</a>
				</fieldset>
				<br>
				<a id="clear-search" href="#">Clear Search</a>
			</form>
		</div><!--end will-->
		</div><!--end span-->
	</div><!--end row-->
</div><!--end container-->
<div id="results-grid" class="container-fluid results">
	<img class="loading" src="<%= image_path('loader.gif') %>" />
</div>

<script id="grid-tpl" type="text/x-handlebars-template">
	
	{{#everyNth matches 4}}
		{{#if isModZeroNotFirst }}
			</div><!--end row-->
		{{/if}}
		{{#if isModZero}}
			<div class="row-fluid">
		{{/if}}
			<div id="{{id}}" class="span3">
				<div class="img-container">
					<img alt="{{recipeName}}" src="{{getLargeImage imageUrlsBySize}}" />
				</div>
				<h3 class="recipe-name"><a href="/recipes/{{id}}">{{recipeName}}</a></h3>
				<div class="details">	
					<div class="ingredients">{{ingredients}}</div>
					<div class="rating-container">
						<div class="source pull-left"><a href="{{sourceURL}}">{{sourceDisplayName}}</a></div>
						<div class="rating rating-{{rating}} pull-right">
							{{{insertStars rating}}}
						</div>
					</div><!--end rating container-->
					<!--div class="yums">{{yums}}</div-->
				</div><!--end details container-->
				<div class="cook-time">{{parseCookTime totalTimeInSeconds}} minutes, {{numIngredients}} ingredients</div>
			</div><!--end span3-->
		{{#if isLast}}
			</div><!--end row-->
		{{/if}}
	{{/everyNth}}
	<div class="attribution">
		{{{attribution.html}}}
	</div>
</script>
<script>
	$(document).ready(function() {
	  $.ajax({
	    url: "http://api.yummly.com/v1/api/recipes?_app_id=8883e909&_app_key=4d536bbfc100aa3f05e713412c59e7e5&maxResult=12",
	    success: displayGrid,
	    dataType: "jsonp"
	  }); 
	});

	$('#text-search-submit').click(function(e) {
		e.preventDefault();
		getYummlyRecipes(buildQueryParams());
	});
	$('#apply-filters').click(function(e) {
		e.preventDefault();
		getYummlyRecipes(buildQueryParams());
	});
</script>
