<%= render "main/hero" %>

<div class="container-fluid">
	<a href="<%= recipes_path %>">Find more recipes <i class="icon-chevron-right"></i></a>
	<div class="row-fluid">
		
		<div id="recipe-result" class="span12" data-user-id="<%= @user_id %>">
		
		</div><!--end recipe-result-->
		<div id="add-shoppinglist-modal" class="modal hide fade">
			
		</div><!--end modal-->
	</div><!--end row-->
</div><!--end container -->


<script id="single-recipe-tpl" type="text/x-handlebars-template">
		<div class="row-fluid">
			<div id="recipe-name" class="span12" data-yid="{{id}}">
				<h2>{{name}}</h2>
				</div><!--end span-->
		</div><!--end row-->
		<div class="row-fluid recipe-top">
			<div class="span4">
				<img class="img-polaroid" src="{{images.0.hostedLargeUrl}}">
			</div>
			<div class="span4">
				<div class="rating rating-{{rating}}">
					{{{insertStars rating}}}
				</div>
				<p>Total Time: {{totalTime}}</p>

				<a id="#add-shoppinglist" href="#add-shoppinglist-modal" role="button" class="btn" data-toggle="modal">+ Add to Shopping List <i class="icon-shopping-cart"></i></a>
				<!--div id="add-shoppinglist-modal" class="modal hide fade">

				</div--><!--end modal-->

			</div>
			<hr>
		</div><!--end row-->
		<div class="row-fluid">
			<div class="span8 ingredients">
			<h4>Ingredients:</h4>
				<ul>
					{{#each ingredientLines}}
					<li>{{this}}</li>
					{{/each}}
				</ul>
			</div>
		</div><!--end ingredient row-->
		<div class="row-fluid">
			<div class="span8">
				<a class="btn" href="{{source.sourceRecipeUrl}}" target="_blank">View the full recipe on {{source.sourceDisplayName}}</a>
			</div>
		</div><!--end ingredient row-->
	<div class="attribution">
		{{{attribution.html}}}
	</div>
	
</script>

<script id="add-shoppinglist-tpl" type="text/x-handlebars-template">	
  <div class="modal-header">
  	<div id="recipe-to-shopping-list-success" class="alert alert-success hide">
		<h4>Success!</h4>
			This recipe has been saved to your shopping list.
	</div>
	<div id="recipe-to-shopping-list-error" class="alert alert-error hide">
		<h4>Oops!</h4>
			Something went wrong. The recipe has not been added to your shopping list.
	</div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add to shopping list:</h3>
  </div>
  <div class="modal-body">
    <ul>
    	{{#each lists}}
    		<li><a class="add-to-list-link" href="#" data-list-id="{{id}}">{{name}}</a></li>
    	{{/each}}
    </ul>
  </div>
  <div class="modal-footer">
  	<p>Or create a new shopping list</p>
  	<form class="form-inline">
		<input type="text" name="shopping_list_name" id="shopping-list-name" />
		<input type="hidden" name="hidden-yummly-id" id="hidden-yummly-id" />
		<a href="#" role="button" class="btn btn-primary" id="submit-new-list">Add New List</a>
	</form>
	<p>BTW, you will have to click close to make this modal go away after selecting a Shopping List. Sorry.</p>
    <button type="button" class="close btn" data-dismiss="modal" aria-hidden="false">Close</button>
    <!--a href="#" class="btn btn-primary">Save changes</a-->
</div>
  	
</script>
<script>
	$(document).ready(function() {
		$.ajax({
		    url: "http://api.yummly.com/v1/api/recipe/<%= @yummly_id %>",
		    data: recipe_params,
		    success: displayRecipe,
		    dataType: "jsonp"
		}); 
		getShoppingList();
		
	});
</script>